html {
    font-family: verdana, arial, sans-serif;
}
body {
    padding: 15px;
}
div,
a,
label,
input,
select,
form {
    margin: 0;
    padding: 0;
}
th {
    background: #eee;
}
th,
td {
    padding: 3px;
    font-size: 11px;
    font-weight: normal;
    border: #ccc 1px solid;
}
#chart {
    margin-bottom: 30px;
    height: 300px;
    width: 100%;
}
#menu {
    background: #eee;
    margin-bottom: 15px;
    padding: 0 15px;
}
#table_history {
    margin-bottom: 15px;
}

.center {
    text-align: center;
}
.right {
    text-align: right;
}
.col {
    display: inline-block;
    margin-right: 15px;
}
.info {
    padding: 5px 15px;
    background: #eef;
}
.compare {
    padding: 15px;
    background: #eee;
}

